venv/
pycache/
*.pyc

Java build files
target/
*.class

Maven
.mvn/wrapper/maven-wrapper.jar

Logs
.log
*.log

Large local Kaggle datasets
backend-java/backend-java/src/main/resources/data/*.csv

OS files
.DS_Store
Thumbs.db

Word documents
*.docx

Keep Java source files
!backend-java/
!backend-java//
!backend-java//.java
!backend-java//*.xml
!backend-java//*.properties
